body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: url('/bus.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Buttons */
button {
  padding: 10px 20px;
  border: none;
  background: #ff6b6b;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #ff3b3b;
}

/* Input */
input {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}